body {
  font-family: Arial, sans-serif;
  background: #56ccf2;
  margin: 0;
  padding-bottom: 110px;
  text-align: center;
}

/* FULLSCREEN */
.fullscreen-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 20000;
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  background: #2f80ed;
  color: white;
}

/* OPENING */
#opening {
  position: fixed;
  inset: 0;
  background: #56ccf2;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.opening-box {
  background: white;
  padding: 30px 40px;
  border-radius: 20px;
}

.player-select {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 15px 0;
}

.ps-btn {
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  background: #ddd;
  cursor: pointer;
}

.ps-btn.active {
  background: #27ae60;
  color: white;
  transform: scale(1.05);
}

.start-btn {
  padding: 14px 40px;
  font-size: 20px;
  border: none;
  border-radius: 14px;
  background: #27ae60;
  color: white;
}

#countdown {
  font-size: 100px;
  color: white;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

/* TRACK */
#track {
  max-width: 1000px;
